<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
		<title>Digital Earth</title>
		<link href="/static/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
		<link href="/static/lib/fontawesome/font-awesome.min.css" rel="stylesheet">
		<link href="/static/lib/gem/gems.css" rel="stylesheet">
		{% block headcss %}{% endblock %}
		{% block headjs %}{% endblock %}
	</head>
	<body>
		{% include "warning_debug.html" %}
		{% include "warning_system.html" %}

		{% block header %}
				{% include "header.html" %}
		{% endblock %}
		
		{% include "flashes.html" %}
		
		{% block editor %}
		{% endblock %}

		{% block modeller %}
		{% endblock %}
		
		<div class="container-fluid">
			{% block content %}{% endblock %}
		</div>

		{% block footer %}
			{% include "footer.html" %}
		{% endblock %}
		<script src="/static/lib/jquery/jquery-1.11.2.min.js"></script>
		<script src="/static/lib/bootstrap/bootstrap.min.js"></script>
		{% block footjs %}

		{% endblock %}
	</body>
</html>


